body{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.contendor {
    display: flex;
    flex-wrap: wrap;
}

.artista { 
    align-items: center;
    width: 350px;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
}

img{
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.info{
    display: flex;
    flex-direction: column; 
}